.body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}
.box{
  padding: 20px 0px;
  border-radius: 5px;
  width: 90%;
  max-width: 600px;
  border: 1px solid gray;
  position: relative;
  background: #fff;
}
.state{
  font-size: 1.3em;
  padding: 20px 0px;
  text-align: center;
  margin-bottom: 20px;
}
.name{
  font-size: 1.1em;
  font-weight: bold;
  color: inherit;
  margin-bottom: 20px;
}
.flex_profile{
  display: flex;
  align-items: center;
  justify-content: center;
}
.picture{
  width: 200px;
}
.data_content{
  width: 50%;
  margin-left: 20px;
}
.description{
  color: gray;
}
.row_data{
  margin-bottom: 20px;
}
.button_container{
  margin-top: 50px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.buttons{
  display: block;
  text-decoration: none;
  text-align: center;
  background: #9cb4d8;
  padding: 6px 0px;
  border-radius: 5px;
  color: #fff;
  width: 25%;
  cursor: pointer;
}
@media screen and (max-width:600px) {
  .box{
    font-size: .9em;
    border: 0px!important;
    width: 95%;
    padding: 0px;
  }
}
@media screen and (max-width:500px) {
  .flex_profile{
    flex-direction: column;
    text-align: center;
  }
  .data_content{
    margin-top: 20px;
    width: 100%;
    margin-left: 20px;
  }
  .row_data{
    margin-bottom: 10px;
  }
  .box{
    font-size: 1em;
  }
  .buttons{
    width: 31%;
  }
}
