.picture_content{
  width: 55%;
}
.picture_selected{
  width: 100%;
  margin-bottom: 20px;
  height: 380px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
}
.pictures_list{
  justify-content: space-between;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  width: 100%;
}
.miniature_container{
  width: 22%;
  box-sizing: border-box;
  padding: 11%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
@media screen and (max-width:700px){
  .picture_selected{
    height: 300px;
  }
}
@media screen and (max-width:600px) and (min-width:500px){
  .picture_content{
    width: 50%;
  }
}
@media screen and (max-width:500px) {
  .picture_content{
    width: 100%;;
  }
  .picture_content{
    display: flex;
    flex-wrap: nowrap;
  }
  .pictures_list{
    flex-direction: column;
    width: auto;
  }
  .picture_selected{
    width: 90%;
    margin-right: 10px;
    margin-bottom: 0px;
    height: 250px;
  }
  .miniature_container{
    width: 60px;
    height: 60px;
    padding: 0px;
  }
  .picture_content{
    margin-bottom: 10px;
  }
}
