.data_container{
  margin-left: 20px;
  width: 45%;;
}
.name{
  background: #E9E9E9;
  height: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 50%;
}
.item_row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  color: gray;
}
.icon{
  background: #E9E9E9;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.row_text{
  background: #E9E9E9;
  border-radius: 5px;
  height: 20px;
  width: 90%;
}
.limiter{
  width: 100%;
  max-width: 300px;
  margin: auto;
}
@media screen and (max-width:600px) and (min-width:500px){
  .data_container{
    width: 50%;;
  }
}
@media screen and (max-width:500px) {
  .data_container{
    width: 100%;
    margin-left: 0px;
  }
  .name{
    margin: auto;
    margin-bottom: 10px;
  }
  .item_row{
    padding: 10px 0px;
  }
}
