.header{
  background: #3f5c9a;
  width: 100%;
  box-sizing: border-box;
}
.header_body{
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
}
@media screen and (max-width:900px) {
  .header_body{
    height: 40px;
  }
  .logo{
    width: 150px;
  }
}
@media screen and (max-width:450px) {
  .header_body{
    justify-content: center;
    height: 20px;
  }
}
