.data_container{
  margin-left: 20px;
  width: 45%;;
}
.name{
  color: #385898;
  font-weight: bold;
  margin-bottom: 20px;
}
.item_row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  color: gray;
}
.desc{
  display: flex;
  align-items: center;
}
.icon{
  width: 28px;
  margin-right: 10px;
}
.limiter{
  width: 100%;
  max-width: 300px;
  margin: auto;
}
.text{
  padding: 5px;
  text-align: center;
  color: gray;
  margin: 30px auto;
}
.button{
  display: block;
  text-decoration: none;
  cursor: pointer;
  background: #4266B2;
  color: #fff;
  padding: 7px;
  border-radius: 5px;
  width: 160px;
  text-align: center;
  margin: 20px auto 0px auto;
}
@media screen and (max-width:700px) {
  .item_row{
    padding: 7px 0px;
    font-size: .9em;
  }
  .icon{
    width: 20px;
  }
  .text{
    font-size: .9em;
    margin: 15px auto;
  }
}
@media screen and (max-width:600px) and (min-width:500px){
  .data_container{
    width: 50%;;
  }
}
@media screen and (max-width:500px) {
  .data_container{
    width: 100%;
    margin-left: 0px;
  }
  .name{
    margin-bottom: 10px;
    text-align: center;
  }
  .item_row{
    padding: 4px 0px;
    font-size: .9em;
  }
  .text{
    font-size: .9em;
    margin: 10px auto;
  }
}
